<div class="flash-deal text-center">
  <h2>Flash Deal</h2>
  <div id="countdown" class="countdown"></div>
  <div class="row">
    {{#each flashDeals}}
      <div class="card">
        <img src="{{this.image}}" class="card-img-top" alt="{{this.title}}">
        <div class="card-body">
          <h5 class="card-title">{{this.title}}</h5>
          <p class="card-text">{{this.description}}</p>
          {{#if this.oldPrice}}
            <div class="price-container text-center">
              <p class="old-price">{{this.oldPrice}}</p> <!-- Giá cũ -->
              <p class="new-price">{{this.newPrice}}</p> <!-- Giá mới -->
            </div>
          {{else}}
            <p class="new-price">{{this.newPrice}}</p>
          {{/if}}
          <a href="#" class="btn">Mua Ngay</a>
        </div>
      </div>
    {{/each}}
  </div>
</div>


